<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chatbot Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
        ul, li {
            font-size: 3mm;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <h1 class="my-5">Tourist Advisor Chatbot</h1>

            <p>This chatbot can hold a basic conversation with a person and recommend restaurants and pubs, 
                and also give information about the weather. It does work with a database, so the chatbot is not able to remember what you said previously.
            </p>
        </div>
        <div>
            <b>The chatbot recognises the following intents:</b>
            <ul>
                <li>Greetings</li>
                <li>Goodbye</li>
                <li>Thank you</li>
                <li>Bar suggestion</li>
                <li>Restaurant suggestion</li>
                <li>Weather</li>
                <li>Out of Scope</li>
            </ul>
            <i>If you ask for something that is not part of that list, the bot will ask for clarification.</i>
        </div>

        <form action="/" method="POST" class="text-center">
            <div class="mb-3">
                <label for="textInput" class="form-label"></label>
                <input type="text" class="form-control" id="textInput" aria-describedby="textHelp"
                    placeholder="Chat with me..." name="textInput" autocomplete="off">
            </div>
            <div class="d-flex-center">
                <button type="submit" class="btn btn-success">Send</button>
                <button id="clear_button" class="btn btn-success">Clear</button>
            </div>
        </form>

        <br>
        <br>
        <!-- Display the dialoge -->

        <div>
            {% for sentence in history %}
            <p>User: {{ sentence[0] }}</p>
            <p>BOT: {{ sentence[1] }}</p>
            {% endfor %}
        </div>
        <!-- {{ history }} -->
    </div>
    <!-- Footer -->
    <div class="my-5">

        <footer class="text-center text-lg-start bg-success">
            <!-- Copyright -->
            <div class="text-center text-white p-3">
                © 2022 TR Copyright:
                <a class="text-white" href="https://github.com/todocodo/Tourist-Advisor-Chatbot">Chatbot Repo</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script>
        document.getElementById("clear_button").addEventListener("click", clear);

        function clear() {
            document.getElementById("textInput").value = "clear";
        }
    </script>
</body>

</html>